<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/ice-cream.png">
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <script src="js/ice-cream.js" defer></script>
    <title>Ice Cream Order Form</title>

    <script src="js/ice-cream.js" defer></script>
    <script src ="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
</head>
<body>
    <main>
    <h1>Ice Cream Order Form</h1>
    <table id="order-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cone</th>
                <th>Toppings</th>
                <th>Comments</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
            <tr>
                <td><%= order.name %></td>
                <td><%= order.cone %></td>
                <td><%= order.toppings %></td>
                <td><%= order.comments%></td>
                <td><%= order.timestamp %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- <form action="#" id="form">
        <fieldset>
            <legend>Personal Information</legend>
            <label for="name">Name: <br><input type="text" id="name" name="name"></label>
            <span id="err-name" class="error">Name cannot be empty</span>
            <label for="email">Email: <br><input type="email" id="email" name="email"></label>
            <span id="err-email" class="error">Email cannot be empty</span>
            <span></span>
        </fieldset>
        <fieldset>
            <legend>Order Details</legend>
            <label for="flavor">Choose your flavor: <br>
                <span id="err-select" class="error">Must choose a flavor!</span>
                <select id="flavor" name="flavor">
                    <option value="none">-- Select a flavor --</option>
                    <option value="vanilla">Vanilla</option>
                    <option value="chocolate">Chocolate</option>
                </select>
            </label>
            <p>Choose your cone:</p> 
            <span id="err-radio" class="error">Must choose a cone!</span>
            <div>
                <label for="waffle"><input type="radio" name="cone" id="waffle" value="waffle"> Waffle Cone</label>
                <label for="sugar-cone"><input type="radio" name="cone" id="sugar-cone" value="sugar-cone"> Sugar Cone</label>
                <label for="cup"><input type="radio" name="cone" id="cup" value="cup"> Cup</label>
            </div>
            <p>Toppings:</p>
            <div>
                <label for="sprinkles"><input type="checkbox" name="toppings[]" id="sprinkles" value="sprinkles"> Sprinkles</label>
                <label for="nuts"><input type="checkbox" name="toppings[]" id="nuts" value="nuts"> Nuts</label>
                <label for="cherry"><input type="checkbox" name="toppings[]" id="cherry" value="cherry"> Cherry</label>
                <label for="whipped-cream"><input type="checkbox" name="toppings[]" id="whipped-cream" value="whipped-cream"> Whipped Cream</label>
            </div>
            <label for="comments">Additional Comments:</label><textarea name="comments" id="comments"></textarea>
        </fieldset>

        <button type="submit">Submit Order</button>
    </form> -->
    </main>
    <script defer>
        let table = new DataTable('#order-table');
    </script>
</body>
</html>